*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background: rgb(124, 227, 136);
    display: flex;
    justify-content: center;
    align-items:  center;
}

.contenedor{
    width: 500px;
    height: 250px;
    border: 1px solid black;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

input{
    padding: 10px;
    margin-bottom: 20px;
}

#okis{
    color: green;
    font-size: 20px;
}

#error{
    color: red;
}